body {
  background-color: white;
  color: #000000;
  }

.container {

 }

.calculator {
  width: 400px;
  background-color: #000000;
  color: #ffffff;
 }

.calculator-display {
  padding: 5px 8px;
  text-align: right;
  font-family: monospace;
  font-size: 14px;
 }

.calculator-keys {
  
 }
